body {
    background-color: #222222;
    color: #EEEEEE;
    text-align: center;
}

#title {
    max-height: 38.5px;
}

.main_button {
    background-color: #222222;
    border-radius: 5px;
    height: 10dvh;
    aspect-ratio: 2/1;
    color: #EEEEEE;
    font-size: 1.5em;
}

#image {
    max-height: 512px;
}